In [1]:
import pandas as pd
import numpy as np
from itertools import product
import h5py

In [2]:
transactions = pd.read_csv('sales_train.csv')

In [26]:
index_cols=['shop_id','item_id','date_block_num']
all_shops=transactions.shop_id.drop_duplicates()
all_items=transactions.item_id.drop_duplicates()
all_dates=transactions.date_block_num.drop_duplicates().to_list()
all_dates.append(34)
grid=np.array(list(product(*[all_shops,all_items,all_dates])),dtype=np.int32)

In [29]:
prev_sales=pd.DataFrame(grid,columns=index_cols,dtype=np.int32)

In [32]:
prev_sales.to_pickle('prev_sales.pkl')

In [2]:
prev_sales=pd.read_pickle('prev_sales.pkl')

In [3]:
prev_sales.head()

   shop_id  item_id  date_block_num
0       59    22154               0
1       59    22154               1
2       59    22154               2
3       59    22154               3
4       59    22154               4

In [4]:
new_data=pd.read_csv('new_data.csv')
new_data.head()

,shop_id,item_id,date_block_num,median_price,item_cnt_month,City,Type,item_category_id,main_cat,month,lag_median_price,lag_item_cnt_month,lag_shop_sales,lag_item_sales
0,0,12,1,0.0,0.0,0,0,55,2,2,0.0,0.0,5578.0,0.0
1,0,19,0,0.0,0.0,0,0,40,0,1,0.0,0.0,0.0,0.0
2,0,27,0,0.0,0.0,0,0,19,1,1,0.0,0.0,0.0,0.0
3,0,27,1,0.0,0.0,0,0,19,1,2,0.0,0.0,5578.0,7.0
4,0,28,0,0.0,0.0,0,0,30,1,1,0.0,0.0,0.0,0.0

In [6]:
index_cols=['shop_id','item_id','date_block_num']
prev_sales=prev_sales.merge(new_data[['shop_id','item_id','date_block_num','item_cnt_month']],on=index_cols,how='left')
prev_sales

          shop_id  item_id  date_block_num  item_cnt_month
0              59    22154               0             1.0
1              59    22154               1             0.0
2              59    22154               2             0.0
3              59    22154               3             0.0
4              59    22154               4             NaN
...           ...      ...             ...             ...
45794695       36     7640              30             NaN
45794696       36     7640              31             NaN
45794697       36     7640              32             NaN
45794698       36     7640              33             0.0
45794699       36     7640              34             NaN

[45794700 rows x 4 columns]

In [7]:
prev_sales['item_cnt_month']=prev_sales.item_cnt_month.fillna(0)
prev_sales.sort_values(index_cols,inplace=True)
prev_sales

          shop_id  item_id  date_block_num  item_cnt_month
13583955        0        0               0             0.0
13583956        0        0               1             0.0
13583957        0        0               2             0.0
13583958        0        0               3             0.0
13583959        0        0               4             0.0
...           ...      ...             ...             ...
551875         59    22169              30             0.0
551876         59    22169              31             0.0
551877         59    22169              32             0.0
551878         59    22169              33             0.0
551879         59    22169              34             0.0

[45794700 rows x 4 columns]

In [8]:
# prev_sales.to_pickle('prev_sales.pkl')

In [11]:
prev_sales['lag_cnt_month_1']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(1)

In [13]:
prev_sales['lag_cnt_month_2']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(2)

In [14]:
prev_sales['lag_cnt_month_3']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(3)

In [15]:
prev_sales['lag_cnt_month_4']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(4)

In [16]:
prev_sales['lag_cnt_month_5']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(5)

In [17]:
prev_sales['lag_cnt_month_6']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(6)

In [18]:
prev_sales['lag_cnt_month_7']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(7)

In [19]:
prev_sales['lag_cnt_month_8']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(8)

In [20]:
prev_sales['lag_cnt_month_9']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(9)

In [ ]:
prev_sales['lag_cnt_month_10']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(10)

In [ ]:
prev_sales['lag_cnt_month_11']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(11)

In [ ]:
prev_sales['lag_cnt_month_12']=prev_sales.groupby(['shop_id','item_id'])['item_cnt_month'].shift(12)

In [ ]:
prev_sales.to_pickle('prev_sales.pkl')